*{
    background-color: teal;
    text-align: center;
}

.logo {
    width: 250px;
    float: left;
    padding-left: 50px;
}

.menu li {
    list-style: none;
    float: right;
    
    display: inline-block;
    margin: 10px 10px;
}

.menu a {
    background-color: orange;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
}


.main-logo {
    width: 600px;
    margin-top: 10%;
    
}