<!-- コメントアウトの仕方　Macであれば「command」+「/」、Windowsであれば「Ctrl」+「/」を押します。 -->

<!-- ファイルのドキュメントタイプ HTML5以降、仕様が変わったが、念の為に記載が必要-->
<!DOCTYPE html>

<!-- このHTMLファイルが日本語で出力されるの表明 念のために記載 -->
<html lang="ja">

<!-- HTMLのheadダグ ここで設定を記述 -->
  <head>

    <!-- 文字のエンコーディングの種類　ここでは日本語　他に euc-jp shift_jis がある（文字化けする）-->
    <meta charset="UTF-8">

    <!-- stylesheet で使うファイル名（パス） -->
    <link rel="stylesheet" href="style_6.css">

    <!-- ページのタイトル -->
    <title>デモページ｜COMOLYのランディングページ</title>

  </head>

  <!-- 直接、ページの内容に反映されるコード -->
  <body>

    <!-- ヘッダー部分 -->
    <header>

      <table>
        <tr>
          <!-- ヘッダー左の部分 -->
          <td class="left">
            <span class="left_inner">
              <a href="file:///Users/kenmochitomoaki/workspace/techcamp_blog/index_3.html">
                <img src="/Users/kenmochitomoaki/workspace/kadai/shiryo_05th/images/logo_white.png" class="left_inner_image">
              </a>
            </span>
          </td>
          <!-- ヘッダー右の部分 -->
          <td class="right">
            <a class="right_inner_link" href="file:///Users/kenmochitomoaki/workspace/techcamp_blog/index_3.html">
              <span class="right_inner">
                Q&A
              </span>
            </a>
            <a class="right_inner_link" href="file:///Users/kenmochitomoaki/workspace/techcamp_blog/index_3.html">
              <span class="right_inner">
                ログイン
              </span>
            </a>
            <a  class="right_inner_link" href="file:///Users/kenmochitomoaki/workspace/techcamp_blog/index_3.html">
              <span class="right_inner">
                新規登録
              </span>
            </a>
          </td>
        </tr>
      </table>

      <!-- ヘッダー下の大きな画像 -->
       <div class = "bottom">
         <img src="/Users/kenmochitomoaki/workspace/kadai/shiryo_05th/images/mac-image.png" class="bottom_inner">
       </div>

    </header>

  </body>

</html>
