body{margin: 0;}

header{background-color: #3bb2b8;}

table{width: 100%;}

.left{
  width: 50%;
}
.left_inner{

}
.left_inner_image{
  width: 40%;
  margin: 0 0 3% 15%;
}

.right{
  vertical-align: top;
  text-align: right;
  padding: 2%;
  width: 50%;
}

.right_inner{
  vertical-align: top;
  text-align: center;
  width: 10%;
  padding: 1% 1% 0 0;
}
.right_inner_text{
  padding: 2%;
  background-color: orange;
  font-weight: bold;
  font-size: 2rem;
  width: 10%;
}
.right_inner_link{
  color: white;
  text-decoration: none;
  margin: 0 0 0 5%;
  width: 10%;
}
.bottom{
  text-align: center;
  padding: 2%;
  /* height: 300px; /*heightの場合、親要素にもpx(絶対値)で指定する必要がある（widthの場合はデフォルトで指定されている湯尾なので不要）*/
}
.bottom_inner{
  width: 40%;
  /* height: 100%; /*指定したいheightの子要素*/
}
